@{
	ViewData["Title"] = "Register Store";
}

<div class="text-center">
	<h1 class="display-4">Register Seller</h1>
</div>
<div class="container w-50">
	<div class="mb-3 g-3">
		<label for="exampleFormControlInput1" class="form-label">UserID:</label>
		<input type="text" class="form-control" id="exampleFormControlInput1">
	</div>
	<div class="mb-3 g-3">
		<label for="exampleFormControlInput1" class="form-label">Store address:</label>
		<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
	</div>
	<div class="mb-3 g-3">
		<label for="exampleFormControlTextarea1" class="form-label">Store name:</label>
		<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="BookTiki">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</div>
